<p>
  <strong>Property name: </strong>
  <%= @property.name %>
</p>

<p>
  <strong>Purchase date: </strong>
  <%= @property.date %>
</p>

<p>
  <strong>Property price: </strong>
  <%= @property.price %>
</p>

<p>
  <strong>Property user: </strong>
  <%= @property.user %>
</p>

<p>
  <strong>Property status: </strong>
  <%= @property.status %>
</p>
